@import url('reset.css');
@import url('root.css');
@import url('nav.css');
@import url('main.css');
.wraper{
    display: flex;
    font-size: 16px;
    background-color: var(--bg-dark);
    color: var(--text-main-dark);
}
.muted-text {
    color: var(--text-muted-dark);
  }
.wraper{
    height: 100vh;
    display: flex;
}